@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}
<div>
    @*search form*@
    <form method="post">
        <div class="row">

            <div class="col-md-8">
                <div class="form-group">
                    <label>SEARCH    </label>
                    <input class="form-control" id="searchTxt" name="Search" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>ACTION</label>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary form-control" type="button" id="searchBtn">SEARCH</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary form-control" type="button" id="newBtn">NEW</button>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </form>
</div>
<br />

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Product Name    </td>
                <td>Category    </td>
                <td>Price   </td>
                <td>Actions     </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name   </td>
                    <td>
                        @if (product.Category != null)
                        {
                            <text>product.Category</text>
                        }
                        else
                        {
                            <text>-</text>
                        }

                </td>
                <td>@product.Price      </td>
                <td>
                    <button class="editBtn" data-id="@product.ID" product="@product.ID">EDIT</button>
                    <button class="deleteBtn" data-id="@product.ID">DELETE</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
    // search button click function
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
            $("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAILED!");
        });
    });

    // save button 
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAILED!");
        });
    });

    // edit button to update changes
    $(".editBtn").click(function () {
        //debugger;
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAILED!");
        });
    });

    // delete button to update changes
    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure you want to permanently delete this product?");
        if (confirmDelete)
        {
            //debugger;
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAILED!");
            });
        }
            
    });
</script>