@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}
<div>
    @*search form*@
    <form method="post"> 
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">SEARCH</button>
    </form>

    <br/>
        <button type="button" id="newBtn">New</button>
    <br />
</div>

<br />

@* displays database products as a table *@
<div>
<table>
    <thead>
        <tr>
            <td><h4><span>PRODUCT NAME</span></h4></td>
            <td><h4><span>CATEGORY</span></h4></td>
            <td><h4><span>FLAVOR</span></h4></td>
            <td><h4><span>PRICE</span></h4></td>
            <td><h4><span>OPTIONS</span></h4></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.Name</td>
            <td>@product.Category </td>
            <td>@product.Flavor </td>
            <td>@product.Price</td>
            <td>
                <button class="editBtn" data-id="@product.ID" product="@product.ID">EDIT</button>
                <button class="deleteBtn" data-id="@product.ID" product="@product.ID">DELETE</button>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>

<script>
    // search button click function
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
            $("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAILED!");
        });
    });

    // save button 
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAILED!");
        });
    });

    // edit button to update changes
    $(".editBtn").click(function () {
        //debugger;
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAILED!");
        });
    });

    // delete button to update changes
    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure you want to permanently delete this product?");
        if (confirmDelete)
        {
            //debugger;
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAILED!");
            });
        }
            
    });
</script>